.banner{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(slide2.jpg);
    background-size: cover;
    background-position: center;
}
.text{
  color: white;
  text-align: center;
  padding: 10%;
}
* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 8px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: rgb(233, 156, 156);
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: rgb(179, 175, 176);
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
img{
  cursor: pointer;
  width: 10%;
  height: 10%;
  float: top;
  position: right;
}
.header h3{
  color: pink;
  font-family: 'Times New Roman', Times, serif;
  padding: 5%;
  font-size: 15px;
  line-height: 15px;
  border-radius: 2px;
  text-decoration: underline;
}
